.counter-up-down {
    width: 100px;
    display: inline-block;
}
.counter-up-down input[type=number] {
    text-align: center;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.counter-up-down input[type=number]::-webkit-inner-spin-button, .counter-up-down input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.counter-up-down .v-text-field.v-text-field--solo .v-input__control {
    min-height: 0px;
    border: 1px solid #dedede;
    border-radius: 3px;
}
.group__thanh_phan .v-text-field__details {
    display: none
}
.counter-up-down .v-input__slot {
    border: 1px solid #dedede;
    padding: 0 4px !important;
    margin: 0px;
}
.group__thanh_phan .v-input__slot {
    height: 32px !important;
    margin: 0px;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 0 4px !important;
}
.group__thanh_phan .v-text-field__details {
    display: none !important
}